input{width:150px; margin-top:30px;}

#loginForm{ width:40%;   margin-top:50px; margin-left:200px}


#loginDiv{ width:40%;height:400px; border-left:1px; margin-left:400px; margin-top:40px;border:3px solid #999}

#font{font-size: 20px;font-weight:bold;}

#images{ width:24px; height:24px; }
