/*专家师资*/
.zjsz{
    margin: 20px 16px 0px 16px;
}

.zjsz dl{
    font-size: 14px;
    border-bottom: 1px solid #EAEAEA;
    height:152px;
    margin-bottom: 12px;
}

.zjsz dl dd{
    float:left;
}

.zjsz dl .teacher_text{
    margin-left:13px;
}

.zjsz dl .teacher_text a{
    color: #03447C;
}


.zjsz dd img{
    width:129px;
    height:140px;
}

#login_btn{
    padding-left: 10px;
    padding-right: 10px;
    height: 50px;
    border-radius: 5px;
    text-align: center;
    line-height: 50px;
    /*transform: rotate(45deg);*/
    background: #3CDD6B;
    cursor: pointer;
    position: fixed;
    top:100px;
    right:50px;
}
#login_btn span{
    display: block;
    color: white;
    /*transform: rotate(-45deg);*/
}
#RecruitTable{
    width: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 9000;
    position: absolute;
    top:0;
    left:0;
}
#RecruitTable_div{
    width: 1300px;
    padding-bottom: 130px;
    background: #ffffff;
    text-align: center;
    position: absolute;
    top:120px;
    left:0;
    right:0;
}
#close{
    position: absolute;
    top: 12px;
    right: 20px;
    width: 30px;
    height: 30px;
    color: #000;
    opacity: .2;
    font-size: 21px;
    cursor: pointer;
    text-align: center;
    border: 1px solid #333;
}
.RecruitTable_tb{
    position: relative;
    top:70px;
}
.RecruitTable_div_title{
    display: inline-block;
    font-size: 30px;
    color: #000;
    font-weight: 700;
    letter-spacing: 3px;
    position: relative;
    top:40px;
}
.RecruitTable_tb table{
    margin: auto;
    font-size: 14px;
}
.RecruitTable_tb table tr{
    height: 30px;
}
.tr_td th{
    line-height: 30px;
}